<template>
  <header>
    <div @click="redirectHome" class="logo">
      <img src="src/assets/img/logo.png" alt="logo" />
      <h2>Sing-a-song</h2>
    </div>

    <div v-if="user">Logged user: {{ user?.username }}</div>
    <div v-else>Nobody is logged in</div>

    <a-button v-if="!user" class="btn">
      <router-link to="/signup">Sign Up</router-link>
    </a-button>

    <a-button v-if="!user" type="primary" class="btn">
      <router-link to="/login">Log In</router-link>
    </a-button>
    <a-button @click="store.logOut" type="danger" v-else class="btn">
      Log out
    </a-button>
</header>
</template>

<script setup lang="ts">
import { useStore } from '@/stores/useStore';
import { storeToRefs } from 'pinia';
import { useRouter } from 'vue-router';


const router = useRouter();
const store = useStore();

const { user } = storeToRefs(store);

const redirectHome = () => {
  router.push({ name: 'Home' })
};
</script>

<style scoped lang="scss">

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1em 2em;

  .btn {
    margin-inline: .4em;
    text-transform: uppercase;
  }
  .logo {
    cursor: pointer;
    margin-right: auto;
    display: flex;
    align-items: center;
  
    h2 {
      text-transform: uppercase;
      font-weight: 800;
      font-size: large;
      margin: 0;
    }
  
    img {
      margin-right: 12px;
      height: 38px;
    }
  }
}

</style>
