<template>
  <section class="main-nav">
    <nav>
      <ul class="nav-links">
        <li><router-link to="/home" tag="a">home</router-link></li>
        <li><router-link to="/favourites" tag="a">favourites</router-link></li>
        <li><router-link to="/my-songs" tag="a">my songs</router-link></li>
        <li><router-link to="/friends" tag="a">friends</router-link></li>
      </ul>
    </nav>

    <form @submit.prevent="search" class="search-container">
      <a-input
        class="form-item"
        v-model:value="searchQuery"
        name="searchQuery"
        placeholder="Enter song or artist name"
      ></a-input>
      <a-button class="form-item" @click="search">Search</a-button>
    </form>
  </section>
</template>

<script setup lang="ts">
import { useStore } from '@/stores/useStore';
import { ref, watch } from 'vue';
import { useRoute, useRouter } from 'vue-router';

const store = useStore();
const route = useRoute();
const router = useRouter();

const searchQuery = ref('');

const search = () => {
  store.fetchSongs(
    `/songs?page_num=1&page_size=10&search_query=${searchQuery.value}`
  );

  if (route.path == '/my-songs') {
    router.push({ name: 'MySongs' });
  } else {
    router.push({ name: 'Home' });
  }

  store.currentPage = 1;
};

watch(route, () => {
  searchQuery.value = '';
});
</script>

<style scoped lang="scss">
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;

  li {
    display: inline-block;
    margin-inline: 2em;
  }
}

form {
  display: flex;
  margin-inline: 2em;
}
</style>