<template>
  <songs-table v-if="store.songs" :songs="store.songs"></songs-table>
  <a-pagination
    v-model:current="store.currentPage"
    :total="store.pagination.total"
    size="small"
  ></a-pagination>

  <a-button @click="test">TEST</a-button>
</template>

<script setup lang="ts">
import SongsTable from '@/components/SongsTable.vue';
import { watch, ref, onMounted } from 'vue';
import { useStore } from '@/stores/useStore';

const store = useStore();

const test = () => {
  console.log(store.pagination.searchQuery);
  console.log(store.pagination.next);
}

// const currentPage = ref(1);

watch(() => store.currentPage, () => {
  if (store.pagination.searchQuery) {
    store.fetchSongs(`/songs?page_num=${store.currentPage}&page_size=10&search_query=${store.pagination.searchQuery}`)
    return;
  }
  store.fetchSongs(`/songs?page_num=${store.currentPage}&page_size=10`)
});

onMounted(() => {
  store.fetchSongs('/songs?page_num=1&page_size=10');
});
</script>
