<template>
  <div class="wrapper">
    <a-form>
      <a-form-item label="Username" name="username">
        <a-input v-model:value="formState.username" />
      </a-form-item>

      <a-form-item label="Password" name="password">
        <a-input-password v-model:value="formState.password" />
      </a-form-item>

      <!-- <a-form-item name="remember">
        <a-checkbox v-model:checked="formState.remember"
          >Remember me</a-checkbox
        >
      </a-form-item> -->

      <a-form-item>
        <a-button type="primary" @click="logIn(formState)">Log in</a-button>
      </a-form-item>
    </a-form>
  </div>
</template>

<script setup lang="ts">
import { reactive } from 'vue';
import type { UserLogin } from '@/types/User';
import { useStore } from '@/stores/useStore';
import { useRouter } from 'vue-router';

const store = useStore();
const router = useRouter();

const formState = reactive<UserLogin>({
  username: '',
  password: '',
});

const redirectHome = () => {
  router.push({ name: 'Home' });
};

const logIn = (payload: UserLogin) => {
  store.logIn(payload);
  redirectHome();
};
</script>

<style scoped lang="scss">
.wrapper {
  width: 40%;
}
</style>
