<template>
  <h2>My songs</h2>
  <a-button @click="addSong" type="primary">Add song</a-button>
</template>

<script setup lang="ts">
import { useRouter } from 'vue-router';

const router = useRouter()

const addSong = () => {
  router.push({ name: 'Song.new' });
}
</script>
