<template>
  <a-form>
      <a-form-item label="Title" name="title">
        <a-input v-model:value="formState.title" />
      </a-form-item>

      <a-form-item label="Artist" name="artist">
        <a-input v-model:value="formState.artist" />
      </a-form-item>
      
      <a-form-item label="Text" name="text">
        <a-textarea :rows="6" v-model:value="formState.text" />
      </a-form-item>
      
      <a-form-item label="Difficulty" name="difficulty">
        <a-input-number v-model:value="formState.difficulty" />
      </a-form-item>

      <a-form-item label="Capo" name="capo">
        <a-input-number v-model:value="formState.capo" />
      </a-form-item>

      <a-form-item label="Tuning" name="tuning">
        <a-select v-model:value="formState.tuning" mode="tags" :options="tuningOptions" :token-separators="[',']" ></a-select>
      </a-form-item>

      <a-form-item label="Key" name="key">
        <a-input v-model:value="formState.key" />
      </a-form-item>

      <a-form-item label="Chords" name="chords">
        <a-select v-model:value="formState.chords" mode="tags" :options="chordsOptions" :token-separators="[',']" ></a-select>
      </a-form-item>

      <a-form-item>
        <a-button type="primary" @click="addSong">Add song</a-button>
      </a-form-item>
    </a-form>
</template>

<script setup lang="ts">
import { reactive } from 'vue';
import { type SongInsert } from '@/types/Song';
import { useStore } from '@/stores/useStore';

const store = useStore();

const formState = reactive<SongInsert>({
  artist: '',
  title: '',
  text: '',
  difficulty: 0,
  capo: 0,
  tuning: [],
  key: '',
  chords: []
})

const notes = ['a', 'b', 'c']
const tuningOptions = notes.map(item => ({ value: item }));


const chords = ['C', 'D', 'A', 'B', 'Em', 'Cm']
const chordsOptions = chords.map(item => ({ value: item }));

const addSong = () => {
  store.insertSong(formState);
}
</script>