<template>
  <div class="wrapper">
    <a-form>
      <a-form-item label="Username" name="username">
        <a-input v-model:value="formState.username" />
      </a-form-item>

      <a-form-item label="FullName" name="fullname">
        <a-input v-model:value="formState.fullName" />
      </a-form-item>
      
      <a-form-item label="Email" name="email">
        <a-input v-model:value="formState.email" />
      </a-form-item>

      <a-form-item label="Password" name="password">
        <a-input-password v-model:value="formState.password" />
      </a-form-item>

      <a-form-item>
        <a-button type="primary" @click="signUp(formState)">Sign Up</a-button>
      </a-form-item>
    </a-form>
  </div>
</template>

<script setup lang="ts">
import { reactive } from 'vue';
import type { UserSignup } from '@/types/User';
import { useStore } from '@/stores/useStore';
import { useRouter } from 'vue-router';

const store = useStore();
const router = useRouter();

const formState = reactive<UserSignup>({
  username: '',
  fullName: '',
  password: '',
  email: ''
});

const redirectHome = () => {
  router.push({ name: 'Home' });
};

const signUp = (payload: UserSignup) => {
  store.signUp(payload);
  redirectHome();
};
</script>

<style scoped lang="scss">
.wrapper {
  width: 40%;
}
</style>
