<template>
  <h2>Artist:</h2>
  {{ songDetails?.artist }}
  <h2>Title:</h2>
  {{ songDetails?.title }}
  <h2>Lyrics:</h2>
  {{ songDetails?.text }}
</template>

<script setup lang="ts">
import axios from 'axios';
import { onMounted, ref } from 'vue';
import { useRoute } from 'vue-router';
import { type SongDetail } from '@/types/Song';

const songDetails = ref<SongDetail>();
const currentChords = ref([]);

const route = useRoute();

const fetchSongDetails = (songId: string) => {
  axios
    .get(`http://localhost:8000/songs/${songId}`)
    .then((response) => {
      (songDetails.value = response.data),
        (currentChords.value = response.data.chords);
    })
    .catch((error) => {
      console.log(`Error while fetching data... ${error}`);
    });
};

onMounted(() => {
  console.log(typeof route.params.id);
  fetchSongDetails(route.params.id as string);
});
</script>
