<template>
  <div class="container">
    <table>
      <tr>
        <th>ID</th>
        <th>Artist</th>
        <th>Difficulty</th>
      </tr>
      <tr v-for="song in songs" :key="song._id">
        <td>{{ song._id }}</td>
        <td>{{ song.artist }}</td>
        <td>
          <router-link
            :to="{ name: 'Song.detail', params: { id: song._id } }"
            >{{ song.title }}</router-link
          >
        </td>
        <td>{{ song.difficulty }}</td>
      </tr>
    </table>
  </div>
</template>

<script setup lang="ts">
import { type PropType } from 'vue';
import type { Song } from '@/types/Song';

const props = defineProps({
  songs: {
    required: true,
    type: Array as PropType<Song[] | undefined>,
  },
});
</script>
