<template>
  
  <the-header></the-header>
  <the-navigation></the-navigation>

  <div class="main">
    <aside>
      <the-sidebar></the-sidebar>
    </aside>
  
    <div class="router-content">
      <main-content>
        <router-view></router-view>
      </main-content>
    </div>
  </div>
    
</template>

<script setup lang="ts">
import TheHeader from './components/layout/TheHeader.vue';
import TheSidebar from './components/layout/TheSidebar.vue';
import MainContent from './components/slots/MainContent.vue';
import TheNavigation from './components/layout/TheNavigation.vue';
</script>

<style scoped lang="scss">
.main {
  display: flex;
  min-height: 80vh;

  aside {
    flex: 1 1 100px;
  }
}

.router-content {
  flex: 5 5 150px;
}

@media all and (max-width: 550px) {
  .main {
    flex-direction: column;
  }
}

</style>
